PORT=5002
HOST=0.0.0.0
NODE_ENV=production
DATABASE_URL="mysql://username:password@localhost:3306/jualmobilku"
JWT_SECRET="ganti_dengan_secret_key_yang_panjang_dan_aman"
ALLOW_REGISTER=false
CORS_ORIGINS="https://fe.jualmobilku.my.id,https://jualmobilku.my.id,http://localhost:5173"

WA_API_URL="https://wa.myperfumee.my.id/send/message"
WA_DEVICE_ID=""
WA_BASIC_USER=""
WA_BASIC_PASS=""
ADMIN_WA=""
